
block content
  .outer
    if page.posts.length > 0
      ul.list-group
        each post in page.posts.sort('date', -1).toArray()
          li.list-group-item.title
            if (theme.list.date)
              div.date= date(post.date, 'YYYY-MM-DD')
            a(href=config.root + post.path, target=theme.post.blank ? "_blank" : "_self")= post.title
            if (theme.list.wordcount)
              div.word-count= wordcount(post.content, '') +  __('word_count')
            if (theme.post.show_tags)
              if post.tags.length
                ul.tags
                  - post.tags.each(function(tag){
                    li
                      span #
                      a(href= config.root + tag.path)= tag.name
                  - });
  if (theme.paginator)
    div(class="paginator")
      -
        var options = {
          prev_text: __('prev_page'),
          next_text: __('next_page')
        }
      != paginator(options)
  if theme.footer.display
    div.footer
      if theme.footer.href
        p.text-center
          a(href=theme.footer.href)= theme.footer.text
      else
        p.text-center= theme.footer.text
